@tailwind base;
@tailwind components;
@tailwind utilities;



:root  {
  --background: 0 0% 100%;
  --foreground: 234 43% 1%;
  --card: 1 50% 90%;
  --card-foreground: 1 5% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 1 100% 0%;
  --primary: 1 63.6% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 1 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -37 30% 85%;
  --muted-foreground: 1 5% 20%;
  --accent: -37 30% 80%;
  --accent-foreground: 1 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 1 5% 90%;
  --border: 1 30% 50%;
  --input: 1 30% 18%;
  --ring: 0 0% 100%;
  --radius: 0.5rem;
}
.dark  {
  --background: 234 43% 1%;
  --foreground: 1 5% 90%;
  --card: 1 50% 0%;
  --card-foreground: 1 5% 90%;
  --popover: 1 50% 5%;
  --popover-foreground: 1 5% 90%;
  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 100%;
  --secondary: 1 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -37 30% 15%;
  --muted-foreground: 1 5% 60%;
  --accent: -37 30% 15%;
  --accent-foreground: 1 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 1 5% 90%;
  --border: 1 30% 18%;
  --input: 1 30% 18%;
  --ring: 0 0% 100%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid-white {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}
